<% include partes/cabecera%>

<nav class="navbar navbar-dark bg-dark mb-4">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/" class="navbar-brand">Inicio</a>
      <a href="/modelo" class="navbar-brand">Consultas</a>

    </li>
  </ul>


</nav>
<div class="container">
  <div class="nav">
    </ul>
      <li>
        <a href='/modelo/consulta1' class="navbar-brand">Consulta 1</a>
        <a href="/consultas" class="navbar-brand">Consulta2</a>
      </li>


    </div>

  </div>

</div>

<% include  partes/pie %>
